AddType application/x-httpd-fastphp53 .php

RewriteEngine on 

RewriteCond %{REQUEST_URI} !\.jpg$
RewriteCond %{REQUEST_URI} !\.JPG$
RewriteCond %{REQUEST_URI} !\.jpeg$
RewriteCond %{REQUEST_URI} !\.JPEG$
RewriteCond %{REQUEST_URI} !\.gif$
RewriteCond %{REQUEST_URI} !\.GIF$
RewriteCond %{REQUEST_URI} !\.png$
RewriteCond %{REQUEST_URI} !\.PNG$
#RewriteCond %{REQUEST_URI} !\.bmp$
#RewriteCond %{REQUEST_URI} !\.BMP$
#RewriteCond %{REQUEST_URI} !\.tiff$
#RewriteCond %{REQUEST_URI} !\.TIFF$
RewriteCond %{REQUEST_URI} !\.js$
RewriteCond %{REQUEST_URI} !\.JS$
RewriteCond %{REQUEST_URI} !\.css$
RewriteCond %{REQUEST_URI} !\.CSS$

#required by plupload
RewriteCond %{REQUEST_URI} !\.swf$    
RewriteCond %{REQUEST_URI} !\.xap$    



RewriteCond %{REQUEST_URI} !/images/?  
RewriteCond %{REQUEST_URI} !/files/?  
RewriteCond %{REQUEST_URI} !/data/?  
RewriteCond %{REQUEST_URI} !/documents/?  
#RewriteCond %{REQUEST_URI} !/includes/templates//?  

RewriteCond %{REQUEST_URI} !/includes/plugins/tinymce/?    
RewriteCond %{REQUEST_URI} !/install/?    



RewriteRule ^([a-zA-Z0-9-_\/\?\=\&\$\.\+\!\'\(\)\,]*)$ index.php















