body{color:#ddd;font-family:arial;font-size:15px}
h1, h2, h3, h4, h5, h6{font-weight:bold;margin-left:5px;padding-left:10px;border-left:5px solid #5f0}
h1, h2, h3{margin-top:1.5em;margin-bottom:0.5em}
h4, h5, h6{margin-top:1em;margin-bottom:0em}
h1{font-size:24px;font-weight:bold}
h2{font-size:21px;font-weight:bold}
h3{font-size:19px;font-weight:bold}
h4{font-size:17px;font-weight:bold}
h5{font-size:16px;font-weight:bold}
h6{font-size:15px;font-weight:bold}
h1:nth-of-type(1){margin-bottom:1.5em}
a{font-weight:bold;color:#5f0}
a:visited{color:#5ccc5c}
a:hover{text-decoration:underline overline}
#leftcol{position:absolute;top:60px;left:10px;font-size:13px}
#menu{font-size:15px;}
#menu a{text-decoration:none;color:#fff;font-weight:bold;text-shadow:2px 2px #000, 0px 0px 5px #000}
#menu ul li a{display:block;width:177px;border:2px solid #111;background-image:linear-gradient(top,#55ff00 0%,#008800 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#55ff00),to(#008800));background-image:-webkit-linear-gradient(top,#55ff00 0%,#008800 100%);background-image:-o-linear-gradient(top,#55ff00 0%,#008800 100%);background-image:-moz-linear-gradient(top,#55ff00 0%,#008800 100%);background-image:-ms-linear-gradient(top,#55ff00 0%,#008800 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#55ff00',endColorstr='#008800',GradientType=0 );background-color:#11ee11;padding:7px 10px;margin:5px 0px 0px 0px;border-radius:4px}
#menu ul li a:hover{background-image:none;background-color:#33dd00}
#menu ul ul ul li a{border-width:0px 0px 2px 5px;background-image:none;background-color:#33bb00;margin:0px 3px 0px 8px;padding:5px 0px 5px 8px;border-radius:0px;font-size:14px}
#menu ul ul ul li a:hover{background-color:#44ee00}
#content{position:relative;padding:20px;margin:30px 15px 15px 220px;border:2px solid #5f0;background-color:#222}
fieldset{position:relative;width:95%;border:1px solid #5f0;margin:10px 0px;padding:5px;background-color:#1c1c1c}
legend{margin-left:15px;padding:0px 5px;font-weight:bold}
label{display:inline-block;margin:10px 0px;width:300px;text-align:right;padding-right:8px}
/* register.php */
//label{display:inline-block;width:300px;border:0px solid black;text-align:right;margin-right:5px}
#passmeter{display:inline-block;margin:0px}
.passmeteritem{display:inline-block;border:1px solid silver;height:6px;width:20px;margin-right:5px}
#passmeter1, #passmeter2{background:#0f0}
#passmetertext{font-size:0.8em;margin:0px}
/*style for edit_erticle.php*/
#overtree{background-color:#1a1a1a}
#tree{position:relative;width:200px}
#tree a{font-weight:normal}
#overtree::-webkit-scrollbar{width:8px}
#overtree::-webkit-scrollbar-track{background-color:#999}
#overtree::-webkit-scrollbar-thumb{border:2px solid #999;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;background:rgba(8,8,8,0.8)}
#overtree::-webkit-scrollbar-thumb:window-inactive{background:rgba(8,8,8,0.4)}
#overtree::-webkit-scrollbar-button{background-color:#777}
.data{width:900px}
#uploader{z-index:99999;text-align:left;border:1px solid #5f0}
#uploaderwrapper{text-align:center;width:100%;padding:0}
#uploadedimages{position:relative;width:100%;padding:0px;margin:5px 0px;text-align:left;background:#080808;color:black}
#uploadedfiles{position:relative;width:100%;padding:0px;margin:5px 0px;text-align:left;background:#080808;color:black}
.buttonwrapper{position:relative;width:200px;height:200px;border:0px solid black;display:inline-block;vertical-align:top;margin:10px 10px 10px 10px;padding:0px}
.imagebutton{position:absolute;border:0px}
.imagesize{position:absolute;background-color:black;color:white;z-index:100;margin:0px;padding:0px 0px;font-size:0.7em}
.landscape img{position:absolute;top:0px;left:0px;max-width:200px}
.portrait img{position:absolute;top:0px;left:0px;max-height:200px}
.filename{position:absolute;bottom:20px;width:160px;border:1px solid black;word-wrap:break-word;background:rgba(0,0,0,0.8);color:white}
.buttonwrapper{padding:0px}
.otherfilebutton{position:relative;width:128px;height:128px;border:1px solid black}
/* .button_{background-image:url("")} */
#log{width:99%;margin-bottom:10px;height:150px;font-size:11px;background-color:black;color:#ccc;border-color:#5f0}
#topribbon{position:relative;width:100%;background-image:-webkit-linear-gradient(top,#222,#333,#222);background-image:linear-gradient(top,#222 0%,#333 50%,#222 100%);background-image:-webkit-linear-gradient(top,#222 0%,#333 50%,#222 100%);background-image:-o-linear-gradient(top,#222 0%,#333 50%,#222 100%);background-image:-moz-linear-gradient(top,#222 0%,#333 50%,#222 100%);background-image:-ms-linear-gradient(top,#222 0%,#333 50%,#222 100%);background-color:#333;border-width:0px;border-bottom:1px solid #444;padding:15px 0px;text-align:justify}
#topribbon div{position:relative;height:1em;background-color:#333;display:inline-block;margin:0px 80px 0px 20px}
#topribbon a{color:#ccc;text-decoration:none;font-weight:bold;font-size:15px}
#topribbon a:hover{text-decoration:underline}
#username a{color:#5f0}
#version{position:relative;float:right}
#version a{font-size:12px}
a.newversion.crytical{color: #f00 !important}
a.newversion.important{color: #fa0 !important}
a.newversion.optional{color: #0f0 !important}
/* rozne tabulky */
table{border:1px solid #090} 
td{padding:5px 12px;border:1px solid #090} 
.tbl-head td{background-color:#111;font-style:italic} 
/* view_database */
.ord-button{background-color:transparent;border:1px solid black;border-radius:5px;background-color:rgba(0,0,0,0.5);color:#0f0;padding:0px 6px 2px 6px;margin:2px}