<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>[[title]]</title>
  <link type="text/css" rel="stylesheet" href="[{template_folder}]reset.css">
  <link type="text/css" rel="stylesheet" href="[{template_folder}]style.css">
  <style type="text/css">
    /*body{background-color: #111; color: #aaa}*/
    body{background-image:url("[{template_folder}]bg.png")}
  </style>
</head>
<body>
  <div id="topribbon">
    <div id="home"><a href="[{weburl}]members/"><img src="[{template_folder}]house.png"></a></div>
    <div id="username">[[user]]</div>
    <div><a href="[{weburl}]">Home page</a></div>
    <div id="version"><a href="http://www.42cms.com" target="_blank">42cms v1.0</a></div>
  </div>
  <div id="leftcol">
    <div id="overtree">[(dynatree/tree)]</div>
    <div id="menu">[(menu?showpart=members)]</div>
  </div>  
  <div id="content">
    <header>
      <h1>[[h1]]</h1>
    </header>
    
    
    
    
    
    [[body]]
  </div>
</body>
</html>